[2013-11-19 19:20] durka opened #1 "Add a real icon"

[2013-11-19 19:21] durka opened #2 "Device Admin request under the name "SensorCat""
Oops. Now you know what the development codename was.

[2013-11-19 19:26] durka opened #3 "App ignores result of Device Admin request"
It assumes the device admin request was granted and starts the service without checking. This could result in a crash if admin status was not, in fact, granted.

Since this is called from the Configuration activity, it should be possible to use `startActivityForResult` and use the response. Or, just wait for the `DEVICE_ADMIN_ENABLED` intent to start the service.

[2013-11-20 00:35] durka opened #4 "Put our own activity or widget on top of the lockscreen"
The default lockscreen, with cLock, happens to have the clock visible through the view cover, and you can kind of see the notification bar, but nothing else. There's a bunch of wasted space above the clock.

S View has a whole different activity that is "on top" of the lockscreen, and is black except for under the view cover. It has a clock and some notifications (email, text) but it's not configu

[2013-11-20 00:37] durka opened #5 "Wake on phone call"
Depends on #4.

Ideally you'd get to answer/reject the call without opening the cover, but this might be difficult. At least you should get to see what's happening before you open the cover.

[2013-11-20 02:26] durka opened #6 ""About" screen"

[2013-11-20 02:48] #2 closed, assigned to durka

[2013-11-20 19:03] #3 closed, assigned to durka

[2013-11-23 06:43] durka opened #7 "delay timer starts before lockscreen comes up"
It takes a little bit of time for the lock screen to come up after calling `DevicePolicyManager.lockNow`. But Hall Monitor's timer doesn't know this. So when the lockscreen is already up and the cover is closed, it _seems_ to stay up longer than when the cover is closed on an unlocked phone. This makes it hard to set a good delay time.

Solutions include:
- two delay settings
- multiply the delay

[2013-11-23 06:45] #6 closed, assigned to durka

[2013-11-23 08:11] #1 closed, assigned to durka

[2013-11-24 00:05] durka commented on #5
Ugh. After Gingerbread, regular apps can't get `android.permission.MODIFY_PHONE_STATE` so the only way I could figure out to have the Service stop the incoming call is

[code]

So we become a root app. But that isn't the end of the world. At least I got it to work, after getting cut off from www.wheresmycellphone.com and calling myself from Gmail about 30 times :)

Or maybe, since we're already ta

[2013-11-24 07:24] durka commented on #5
See `answer-call` branch: 3bbcc425. It hangs up immediately on any call that comes in while the cover is closed. (assuming it's already been granted SuperUser permission forever, which we'd have to do on the preference screen).

[2013-11-24 07:25] durka commented on #4
See `activity` branch: bda39dbbe4. By trial and error I sized a view to the view cover window. But it doesn't have any content yet.

[2013-11-24 08:04] durka opened #8 "Air Gestures"
Well, I still have no idea how Air Gestures really work. But, check this out:

[code]

It exists! Nothing is happening on `/dev/input/event7`, whereas other sensors such as `/dev/input/event9` (the proximity sensor) are definitely producing output. So maybe the gesture sensor is not turned on?

[2013-11-24 19:29] durka commented on #4
To turn on screen interaction through the cover:

[code]

To turn it off, replace that 1 with a 0.

Source: https://github.com/chenxiaolong/hudson/blob/master/roms/cm-10.2/high-touch-sensitivity/0001-Samsung-add-support-for-high-touch-sensitivity.patch

So far tested on jfltetmo CM10.1.3 and jfltexx CM10.2, so from two samples I conclude that this is the answer :)

[2013-11-27 11:45] Wallace0 commented on #4
I've created an appwidgets branch, branched from the activity branch. In it I've taken the framework for the full screen windowed display and merged that in with the capability to select 3rd party widgets to display. Note that I renamed ' FullScreenActivity' to 'DefaultActivity' - the 'DefaultActivity' will represent what is displayed when the case is closed or when the power button is pressed whe

[2013-11-27 16:24] Wallace0 commented on #4
Default clock view and display of default activity when the power button is pressed is done (although the clock view is VERY basic and quite ugly and could do with prettying up somewhat)

[2013-11-27 19:51] Wallace0 commented on #4
Capability to request root access (running whoami as su) added, plus capability to change sensitivity by echo clear_cover_mode,1 >/sys/class/sec/tsp/cmd. Unfortunately this isn't working - the commands run fine and sensitivity does change (as tested by not letting it revert, closing the app and then testing), but it won't work within the context of the app - not sure why yet.

[2013-11-27 20:39] Wallace0 commented on #4
Fixed the through the window issue, it was actually the Handler.postDelayed call that was interfering with the input for some reason. I switched it to a Timer (and an in-line overridden TimerTask) and it's working now.

[2013-11-27 20:59] durka commented on #4
Nice, I like this. I might change up the colors though :)

I see the clipping issue you described with cLock.

I merged master into this so it's up to date with version 0.0.2a. I really hope I haven't caused you merge conflicts!

[2013-11-27 21:17] Wallace0 commented on #4
Thanks. Yep the colors need tweaking! Could make them configurable easily
enough. I'm done for the night, will do some more tomorrow.
On 27 Nov 2013 20:59, "Alex Burka" notifications@github.com wrote:

[2013-11-28 08:08] Wallace0 commented on #4
Just had a look at the master branch and the changes from the appwidgets branch don't seem to be in there - am I missing something?

[2013-11-28 11:11] Wallace0 commented on #4
I've just committed more changes into appwidgets - lots of general tidy up, I've added loads of comments and a bit more debug. I also fixed some issues with the eventing mechanism - so far as I could tell there was no need for a lot of the stuff in Functions.Events.device_admin_status - it was all duplicating what was happening elsewhere anyway. I also removed the broadcast receiver from the view

[2013-11-28 13:45] Wallace0 commented on #4
Just committed a few more changes - calls to finish have been replaced with moveToBack as that should be more efficient - I've also changed to hide the configuration screen on open_cover as I was finding it liked to pop up. Also changed some logic to fix issue with app crashing if you closed config and then went back in. Initial testing seems to show this is stable now (though I've done all of abo

[2013-11-28 16:58] durka commented on #4
Sorry, I did the merge but neglected to push it. Now I have, so... let the merges conflict!

[2013-11-28 17:55] durka commented on #4
Merged this into master so I can branch off call-widget (to work on the answering the phone part). Feel free to continue working in the branch.

[2013-11-28 18:15] durka opened #9 "display notifications on lockscreen"

[2013-11-28 18:16] durka commented on #9
Writing an accessibility service looks like a pain, and error-prone since you have to keep track of notifications as they come in. Let's take the plunge and require 10.2/4.3 for the NoticationListenerService features.

[2013-11-28 18:50] Wallace0 commented on #4
Cool, figured you might have forgotten to push it! Cool, well if this has gone in to the master then I'll reset to there and look to re-branch again - I think we can close both activities and appwidgets branches. If you are going to look at the phone answering bit, then maybe I'll look at the notifications piece. (though not tonight as I'm about to head out wine tasting! :0)

[2013-11-28 18:51] Wallace0 commented on #9
Agreed! Makes it much easier.

[2013-11-28 19:56] durka commented on #9
Note that you have to enable the notification listener, outside the app, by going to Settings -> Security -> Notifications. Not sure if this can be automated or not. But the notification listener seems to be receiving events (new "notifications" branch).

[2013-11-29 05:36] durka commented on #9
Turns out you can automate it, a little bit -- about as much as you can with granting device admin permissions. Phew, this app is a pain to install the first time (and every time, for us developers): device admin, root, notifications.

Anyway, it works. Every time DefaultActivity comes up, it grabs all the active notifications and stuffs their icons in a GridView.

It needs a little cleaning up. I

[2013-11-29 08:25] Wallace0 commented on #9
OK, cool - yep, we do seem to need a huge load of permissions to make this work! I'll have a look but sounds really good.

Interesting about the pref_enabled thing - that was behaviour I got sometimes after relaunching the app so I did so some tweaking around that bit, but for me it was now working fine. I'll have a look...

[2013-11-29 08:57] Wallace0 commented on #9
...OK, I've just hard reset back to Master so I can start clean again (well I say that, but eGit didn't seem to want to play ball so in the end I just deleted the project and started again from the master branch!), and I don't get that problem with the pref enabled. If I uninstall and then install clean it comes up unchecked. I do notice though that if I redeploy whilst the app is running it comes

[2013-11-29 09:18] Wallace0 commented on #4
Looks like everything has merged nicely into master so I think we can close this issue, and delete the appwidgets and activities branches now. Do you agree? (in which case please do so)

[2013-11-29 09:46] Wallace0 opened #10 "General Discussion"
Thought we could do with a place for general comments. Can also use this to agree division of labour etc.

So, it looks like you are getting busy with the notifications piece and the telephone answering bit.

To my mind that leaves the media player controls bit, and the alarm clock snooze. I think I'll get cracking with the media player bit first. I'll create a new branch for that off from Master

[2013-11-29 12:38] Wallace0 commented on #10
Wow, that was easy - I've added in the media player capabilities - you can now also optionally select a media player widget and it will show that if either headphones are plugged in OR there is media already playing, otherwise it will show the default widget / default ugly clock. Along the way I did a couple of tweaks - I re-ordered stuff in the Actions open_cover and close_cover methods - it make

[2013-11-29 16:18] durka commented on #10
Sounds good. Yeah, refactoring should come eventually. I re-jiggered the DefaultActivity layout a bit in the notifications branch so that when the layout is deleted in order to swap in the widget, there is something left to put the notifications in. Of course if there don't happen to be any notifications, it could be shrunk to zero height.

Also I saw your note in the code about turning the screen

[2013-11-29 16:36] VolMi commented on #10
You might be interested to hear that the `0.0.2a.apk` works relatively well on my [S4 _mini_](http://wiki.cyanogenmod.org/w/Serranoltexx_Info) with CM 10.2.

"relatively well" means that it works roughly 30% of the time and that it did not kill any kittens, yet. :-)
So, most of the time, nothing happens when I open/close my S-view cover, but sometimes screen on/off does work.

Thanks for your effo

[2013-11-29 16:40] durka commented on #10
Hey, thanks for the report. Feel free to open a separate issue about the S4 mini, though of course the two current contributors don't have one of those so our debugging abilities are limited :). At some point (when we are not furiously adding features) I might ask you for some debugging logs. One question is, are you closing the cover slowly? If you sort of leisurely flip it closed, the proximity

[2013-11-29 16:50] VolMi commented on #10
I already tried simple things like faster/slower (un-)covering, doing it the dark or bright light, after bootup or longer periods, etc...

I am not in hurry, so I will just try new compiled versions as you offer them and see if it helps me. And when it still not works perfectly and I see you slowing down, I can still bother you.
Hey, I realize that your are in a furious development mode now. Pleas

[2013-11-29 17:08] Wallace0 commented on #10
Interesting - for me it's working about 80-90% on my S4, but as Alex says it seems to be dependent on the speed of closing the cover. If it's only 30% on the S4 mini then maybe there's a slight difference in how the proximity sensor is configured. It ought to be pretty easy to improve it using a timer to delay the check for the hall sensor after the proximity sensor fires. I'll look into it.

Ref

[2013-11-29 17:22] Wallace0 commented on #10
OK - think I've fixed it - I've put in the delay as suggested and on a quick test on my S4 it's working 100% of the time now.

@VolMi - if you are feeling really brave you can take the HallMonitor.apk from the bin directory of the mediacontrols branch. That's got this fix in it, but is relatively untested. I will however 100% guarantee that no kittens were harmed in the production of it! ;0)

If y

[2013-11-29 17:45] VolMi commented on #10
\o/
Wallace, that version is much more reliable. For opening, I am now at a hit rate somewehere in the higher nineties (%). Calmly opening it seems to work always. If I open as fast as I can, screen on is mostly not working, but for any realworld usage, it is really good.

Closing is still a bit problematic. Because the cover flips automatically, it is pretty fast when it hits the screen. I have m

[2013-11-29 17:48] durka commented on #10
Yeah the color picker is coming soon :p. I'm trying to wrap my head around the closing part. It must be that the hall effect sensor is slow to fire. Or maybe the proximity sensor is unreliable. Unclear.

[2013-11-29 18:07] Wallace0 commented on #10
Lol, yep, that blue colour is pretty bad!

Hmmmm..... interesting, so that's a big improvement on 30% - lemme add another event refire at 500ms and see if that helps some more...

[2013-11-29 18:11] Wallace0 commented on #10
...Ok, that's up there - get it from the same place as before. If it is just a delay thing this should improve it further.

I've got plans for the weekend, so that'll be me done until Monday :0)

[2013-11-30 05:54] durka commented on #4
Okay, reopening this briefly... I noticed an issue where the widget seems frozen. I'm using the Xperia digital clock widget, same as you, but the time never seems to update. Do you have this? (It could also be some change that I made in the notifications branch... perils of dogfooding.) Using the Hall Monitor built in clock, it does have the correct time.

[2013-11-30 08:45] Wallace0 commented on #4
Sorry should have mentioned it, that's fixed in one of the latest few
commits on the mediacontrols branch. I delegated widget listener control to
HMAppWidgetManager.
On 30 Nov 2013 05:54, "Alex Burka" notifications@github.com wrote:

[2013-11-30 14:33] durka commented on #4
Oh okay cool, I see that commit now.

[2013-11-30 14:33] #4 closed, assigned to nobody

[2013-12-01 01:22] durka commented on #9
Huh, so, for me almost every time when I redeploy -- if I've made modifications -- it comes up checked, but the service isn't running (or it doesn't work, if it is). And it doesn't come back on the first time I uncheck/check the box, either. You can tell because the device-admin-status toasts don't happen. I have to cycle it twice before I get prompted to approve the device admin, and then it star

[2013-12-02 09:55] Wallace0 commented on #9
OK, so sounds like it's just an issue when redeploying. I always either stop the service, or completely uninstall before I redeploy which is probably why I don't see the issue. Looking at it, I'm guessing it's an admin privileges issue. Maybe on a redeploy it preserves the service state (i.e. the service continues to run), but you lose admin privilege (so nothing happens when you close the cover).

[2013-12-02 20:41] Wallace0 commented on #9
Hmm... OK, tried doing the admin check, but it made no difference - it still comes up with everything checked on a redeploy, and I'm not really sure why. It's a bit annoying, but so long as you uninstall before redeploying it all works fine, so that might just be the best bet.

I'm gonna have a look at what's possible for the alarm bit next.

[2013-12-03 12:04] Wallace0 commented on #10
The media controls stuff seems to be working fine, so I think that should get merged back into the master branch now. Let me know if you want me to do that.

I've done some digging around the alarm answer stuff and it's totally do-able. I've created an alarm-answer branch from mediacontrols that I'll use to drop that in.

[2013-12-03 13:12] Wallace0 opened #11 "Allow alarm clock control through window"

[2013-12-03 13:15] Wallace0 commented on #11
Basic capability added into alarm-answer branch. New config parameter added to enable the alarm controls. If set, then when the case is closed and the alarm goes off you get presented with snooze and dismiss buttons in the windowed area.

Needs a LOT of prettying up though.

Should also add check for root permissions, as not much point showing the controls if you can't use them.

[2013-12-05 12:25] Wallace0 commented on #10
@Alex,

I've just merged all of the changes in the mediacontrols / alarm-answer branches into everything in the notifications branch, into a new branch called 'merge'. I'll continue to work in sub-branches from merge. I've also deleted the mediacontrols and alarm-answer branches as they aren't needed any more.

If you are happy to then you can simply merge the 'merge' branch into master (it should

[2013-12-06 05:26] durka commented on #10
Excellent. Thank you. I'm going to try and bring master+notifications up to speed, then, tomorrow (today). This week is totally crazy; on Sunday things return to "normal".

On Thursday, December 5, 2013 at 7:25 AM, Wallace0 wrote:

[2013-12-06 12:26] Wallace0 commented on #10
Cool. FYI I've found a weird bug in the notifications code - seems that if the app has been cleared from memory (think that normally happens about 30mins after it hasn't been activated) then it falls over when it tries to come up, throwing a null pointer exception in DefaultActivity.onStart whilst doing: grid.setNumColumns(notifs.length);, which can only be if final GridView grid = (GridView)findV

[2013-12-06 17:17] Wallace0 commented on #10
....OK, think that fixed it - the changes are committed to tidy-up branch. I also had to move a lot of other calls to findViewById to the onCreate method as they had the same problem. The app seems to be stable now but I'll continue to test it out.

[2013-12-09 23:07] VolMi opened #12 "S4 Mini issues"
This could serve as a thread for issues that are specific for the S4 Mini for which an S-View Cover exists, as well. AFAIK, there are at least three different versions of this device (LTE/3G/Dual SIM).

I have the LTE version which is officially known as the _GT-I9195_ and on Cyanogenmod as [_serranoltexx_](http://wiki.cyanogenmod.org/w/Serranoltexx_Info). I started with CM10.2, but now I am on th

[2013-12-10 15:29] habeIchVergessen commented on #12
Hi,

I investigated that stock kernel contains code for the magnetic switch included in the cover.

dmesg | grep flip

shows lines like this

<7>[12248.641932] [keys] flip_cover_work : 0
<7>[12248.641932] [keys] flip_cover_work : 1

maybe it's possible to get it working without the approx sensor. not sure how the kernel event is mapped to regular intents.

[2013-12-10 15:43] VolMi commented on #12
Oh, nice find! I see that, too using CM11 and with HallMonitor disabled.

[2013-12-10 15:59] Wallace0 commented on #12
Currently we are using the magnetic sensor value - we're picking it up from /sys/devices/virtual/sec/sec_key/hall_detect. There doesn't seem to be any intents associated with a state change in the value, so instead we use intents coming from the proximity sensor to trigger action, and then we check for the state of the magnetic sensor to be sure if the cover is closed or not. The 200ms delay which

[2013-12-10 16:13] durka commented on #12
Yep, I found that same event in the logcat during my initial research. As you said, I couldn't find any intents related to it. There _must_ be some udev event (or something) associated with the hall effect sensor firing, because it shows up in the log, but I was unable to figure out how you subscribe to that. But that would most definitely make the triggering more reliable, if we figured out how t

[2013-12-10 16:40] VolMi commented on #12
I hope I am not only producing noise due to very superficial knowledge...

Did you already find

[code]

in [gpio_keys.c](https://github.com/CyanogenMod/android_kernel_samsung_jf/blob/cm-11.0/drivers/input/keyboard/gpio_keys.c)?

It looks like it should be possible to find a related event/intent in the source code itself for more savvy people.

edit:
if you search for all those `#ifdef CONFIG_SENS

[2013-12-11 15:15] habeIchVergessen commented on #12
if i'm not mistaken then function [hall_detect_show](https://github.com/CyanogenMod/android_kernel_samsung_msm8930-common/blob/cm-10.2/drivers/input/keyboard/gpio_keys.c#L752) generates the output of /sys/devices/virtual/sec/sec_key/hall_detect.

[2013-12-12 05:25] durka commented on #10
Okay, I finally merged merge (heh) into master. I'll work now on fixing bugs in the notifications and on call answering. I noticed what _may_ have been a bug in the alarm screen: if the alarm goes off, but you open the cover instead of using Hall Monitor to dismiss it, then the next time Hall Monitor comes up it's stuck on the alarm view. I haven't looked into that yet.

[2013-12-12 05:27] durka commented on #12
I think you're right about that, @habeIchVergessen (also nice to meet you!). The question is, what else happens on a sensor event besides that output being generated, and how do we hook into it? I have a feeling NDK will be required. Maybe grepping around for hall_detect_show can elucidate.

[2013-12-12 08:02] habeIchVergessen commented on #12
kernel sided [SW_FLIP](https://github.com/CyanogenMod/android_kernel_samsung_msm8930-common/blob/cm-10.2/drivers/input/keyboard/gpio_keys.c#L394) is similar to [SW_HEADPHONE_INSERT](https://github.com/CyanogenMod/android_kernel_samsung_msm8930-common/blob/cm-10.2/sound/core/jack.c#L234) defined in [input.h](https://github.com/CyanogenMod/android_kernel_samsung_msm8930-common/blob/cm-10.2/include/l

[2013-12-12 16:42] durka commented on #12
We're getting closer... I'm fairly sure ACTION_USER_SWITCHED is not it, that's "switch logged-in user" as opposed to "user pushed hardware switch". One thing I can't figure out is how you actually get an instance of InputManagerService?

[2013-12-12 17:32] durka opened #13 "avoid the SuperUser toast every time"
It's kind of annoying to see the toast from SuperUser every time the cover is opened. There are two ways I see to fix this low-priority annoyance:
1. [edit] Do nothing, and let the user go into SuperUser and turn off the toasts if they wish.
2. Instead of running a new "su" process every time, just keep the process open from when the service starts. Then we can send it echo commands as needed.
3.

[2013-12-12 17:40] VolMi commented on #13
What is wrong with the method to tell SuperUser to avoid toasting?
All my root apps toast me by default everytime they do what they do. That's why I open SuperUser and tell it to stay quiet on apps I trust. Is this an enormous burden...?

[2013-12-12 17:41] durka commented on #13
I'm just imagining a shell script like this (not tested at all)

[code]

[2013-12-12 17:41] durka commented on #13
Oh I didn't realize you could go into SuperUser and do that! That's probably a better solution anyway.

[2013-12-12 17:43] VolMi commented on #13
:)

~~Btw, what do you use root for? I was never asked to allow root for HallMonitor, yet.~~
edit:
silly me, just need to read your script attempt...

[2013-12-12 17:45] durka commented on #13
There are some features in the newer versions (unreleased, but I think you are using it already :) ) that require root. They don't happen unless you check the box to enable root in the HM settings.
- boost screen sensitivity when the cover is closed, to enable:
  - killing an alarm that goes off while the cover is closed
  - (in the future) answering/rejecting a call that comes in while the cover

[2013-12-13 10:41] Wallace0 commented on #10
OK, cool - I'm still slammed and have a busy weekend planned, but I should be able to look at more stuff from Monday onwards. Let me know if you do fix that alarm bug before then, or otherwise I'll look into it on Monday (ish!).

[2013-12-14 08:48] habeIchVergessen commented on #12
deodex from stock

[code]

as assumed getSwitchState reads the magnetic switch

[code]

several files contain an IntentFilter "com.samsung.cover.OPEN". but i can't find any implementation that fires such Intent.

kernel sided /dev/input/event10 handles Volume-, Home-Button and HallSensor.

[code]

[2013-12-15 21:15] habeIchVergessen commented on #13
closed cover for device GT-I9195 requires following commands to enable touch functionality.

echo module_on_master > /sys/class/sec/tsp/cmd
echo clear_cover_mode,3 > /sys/class/sec/tsp/cmd

otherwise /sys/class/sec/tsp/cmd_result reports

clear_cover_mode,1:NG

[2013-12-15 21:50] durka commented on #13
Fascinating! I'll put in a check for the device model and add that. Are you just doing this by trial and error? And have you figured out the commands to change the sensitivity back down to normal? (or "have you forgotten", eh heh heh)

[2013-12-15 22:05] habeIchVergessen commented on #13
just took a look at [mxts_sec.c](https://github.com/CyanogenMod/android_kernel_samsung_jf/blob/cm-10.2/drivers/input/touchscreen/mxts_sec.c). sensitivity off works.

[2013-12-16 14:10] Wallace0 commented on #10
That alarm issue is fixed in the tidy-up branch.

[2013-12-16 14:12] Wallace0 commented on #11
There was an issue with the alarm screen still displaying if the alarm was dismissed from elsewhere. This has been fixed by subscribing to the ALARM_DONE_ACTION intent which is broadcast after the alarm is turned off.

[2013-12-19 19:15] durka commented on #5
Phone calls are working.

[2013-12-19 19:16] durka commented on #10
Phone calls are now answerable!

[2013-12-19 19:48] durka commented on #10
@Wallace0 I changed the preference system a little. I didn't like all those booleans floating around Functions.Events and such. In my view, the SharedPreferences object that Android manages for us should be the authority on the current state of things. It's automatically persisted between app restarts/reinstalls, which is good. And I set it up to refuse to set the root preference if `su -c whoami`

[2013-12-20 00:22] VolMi commented on #10
Would you mind keeping the binary updated, too? I am a bit reluctant to set up this Eclipse monster...

[2013-12-20 00:28] durka commented on #10
Good call. I'll commit the binary, but beware, it's definitely alpha quality!

On December 19, 2013 at 7:22:44 PM, VolMi (notifications@github.com) wrote:

Would you mind keeping the binary updated, too? I am a bit reluctant to set up this Eclipse monster...

—
Reply to this email directly or view it on GitHub.

[2013-12-20 00:53] VolMi commented on #10
Ha, the phone call interaction is seriously cool! The screen is very sensitive, totally nice. Finally, I can use the phone without fiddling with the open cover and smearing the display. :-)
But it is important to have the default lock screen disabled. Otherwise, I need to press the power button twice (on→off→on) to bring up HallMonitor's notification.

[2013-12-20 01:25] durka commented on #10
Not sure exactly what you mean so I'm moving it into a separate issue.

[2013-12-20 01:26] durka opened #15 "phone controls on→off→on"
@VolMi wrote:

Can you explain? Do you mean, when the phone rings, the screen doesn't come on at first, and the first time you press the power key Hall Monitor doesn't come up?

[2013-12-20 01:53] VolMi commented on #15
Ok, say I have
![screenl_patt](https://f.cloud.github.com/assets/1189207/1788013/25fb0a50-6918-11e3-8d4d-a0f61813378b.png)
My S4 mini is laying closed and a call suddenly arrives.
Then, the Screen turns on, but there is no sign of HallMonitor whatsoever. Instead, I see the usual Android-answer-this-call-interface.

Assume I do not open the cover or touch/press anything in this situation. Instead I

[2013-12-20 03:25] durka commented on #15
Hmm. Maybe I could put in some stuff to let you send a debug log somehow. On my phone, when it rings I see the regular phone-ringing screen come up for a second, then Hall Monitor takes over. My other idea is that right now, HM reacts to the event when the phone starts ringing, but it doesn't check the phone state when it's woken up for some other reason. So maybe there is a way to do that.

[2013-12-20 23:10] Wallace0 opened #17 "Add flashlight control"
I've added a new branch from tidy-up with some modifications to add a flashlight control button to the display,

[2013-12-21 12:44] habeIchVergessen opened #18 "general discussion: prevent user action until we are sure, that it user driven was"
the new flash light control by wallace is an good/bad example for my point of view.
i guess we have to ensure that button driven functionality is only available when the user controls the phone.

maybe an wiped in option view is visible for 1 - 2s. each button is covered by this view.
a possible gesture: from outside to inside across bottom edge of main panel.

[2013-12-21 13:04] durka commented on #18
I'm not entirely clear on the options panel idea. Would it slide in on the cover-closed screen? That might be kind of finicky. Anyway that screen usually isn't up for that long (I set the delay to 2 seconds or so except when debugging). What kinds of options would be useful to have there?

[2013-12-21 13:42] durka commented on #17
tidy-up is merged into master

[2013-12-21 13:56] Wallace0 commented on #18
It's a great point about the stuff for user control - I am planning to make the flashlight control configurable so it would at least be optional. For me, I set the screen delay to about 15 seconds - I'm very often using the media player controls and I find that's a good window of time to allow me to play/pause/skip as I need. It does raise the issue though of the potential for accidentally trigger

[2013-12-21 13:56] durka commented on #17
Merged the flashlight branch as well. I didn't realize that was the stock CM flashlight; that makes it more acceptable to have that dependency. But we could maybe search for it on installation and suggest it, if it's not there.

[2013-12-21 14:02] Wallace0 commented on #17
OK thanks - I'll create a flashlight2 branch from master and add in an option preference to disable it and I'll also see if I can add a check for the stock flashlight app. I'll also delete the tidy-up, merge and flashlight branches as they aren't needed any more.

PS I did a local merge with the call answer stuff from hVs pull request and I've been running that since last night and it seems to be

[2013-12-21 15:01] habeIchVergessen commented on #18
@durka: for example the flashlight. steps to toggle
- wipe to open option panel
- press the flashlight button

option panel closes automatically after user action or even a timeout without user action.
the biggest problem is the event handling. with closed cover we have very likely a multitouch situation.

[2013-12-21 15:06] Wallace0 commented on #17
I've put the changes for making the torch control optional and also adding a check for the stock flash light app into flashlight2 - it was a new branch from master so should merge straight in.

[2013-12-24 20:27] durka commented on #10
We have an entry in F-Droid (see the readme for a link). Yay, legitimacy!

[2013-12-25 19:57] habeIchVergessen commented on #18
hi, i have added an repository https://github.com/habeIchVergessen/TestInput, that contains a case study for a possible "pie menu" (pre-alpha). torch toggle works for me.

usage:
- touch the point below phone widget and start wipe gesture (option overlay opens)
- wipe to desired option and release

preview:
![menupreview](https://f.cloud.github.com/assets/3988506/1815129/cffae4b6-6f0e-11e3-94a5-32

[2013-12-25 22:43] durka commented on #18
Sounds super cool! I am excited to see how this turns out. Your other pull request has gotten a little confusing with all the merges, but rest assured I am working on how to integrate the slide action into the phone feature.

[2013-12-25 23:00] #17 closed, assigned to nobody

[2013-12-30 13:27] #11 closed, assigned to Wallace0

[2013-12-30 13:32] Wallace0 opened #19 "Add camera control"
I want to implement a basic camera capability for whilst the cover is closed - press a button to get an image preview showing in the windowed area, then press another button to take a photo. I've created a new 'camera' branch for this.

[2013-12-30 21:56] durka commented on #18
@habeIchVergessen I started to play with TestInput. (I fought with Android Studio and lost, settled on just using gradle from the command line -- what IDE are you using?) It's cool, but a little finicky with both press and release. For the release especially, I'm thinking the area should be a cone instead of just a rectangle, so that you can swipe past the icon and still have it activate. What do

[2013-12-30 22:42] habeIchVergessen commented on #18
i'm using AndroidStudio.
of course we need any kind of indication for selecting an option. i played with background color but couldn't see it all times. my idea is an small beam above ImageView that will be illuminated when hitting the option.

press and release makes a submenu possible (for instance music player panel or ringer mode). wipe to music icon (submenu opens) and go for next selection.

[2013-12-30 22:48] habeIchVergessen commented on #19
i included your camera stuff to the TestInput repository ([read here](https://github.com/durka/HallMonitor/issues/18#issuecomment-31204460)).

[2013-12-30 23:04] durka commented on #18
Yeah, an indicator would help. I was saying we could also make the whole landing area (the area in which a touch-release event would be detected) into a cone so that you can overshoot.

[2013-12-30 23:20] habeIchVergessen commented on #18
i guess it's no problem to implement such behaviour. but I'm not sure that we have only one line icons.
we need a concept for using the rare space. in the end usability gives answers.

[2013-12-31 02:29] durka commented on #18
Good point. Some kind of highlighting would help... I don't know what kind of support Android has for non-rectangular views. Nice work on the pre-alpha.

[2013-12-31 17:50] durka commented on #19
This works well. Except for two things:
- I'm not sure about stretching the camera preview to fill the available space. It's too distorted. It's going to be really small if we keep the correct aspect ratio, but still... maybe better than distortion.
- At least on my phone, pictures taken from HM show up at the end of my Gallery, instead of at the beginning where new pictures usually are. It seems

[2013-12-31 18:00] durka opened #20 "be more careful about leaking Activity references"
We might be fine... but some classes such as Functions and CameraHelper do have references to the DefaultActivity. These may or may not need to be refactored to avoid leaks. Source: idle conversations on IRC and http://www.curious-creature.org/2008/12/18/avoid-memory-leaks-on-android/

[2013-12-31 18:06] Wallace0 commented on #19
Yep, I agree about the preview window - I think we could get away with sizing it a bit beyond the window space, as it's mainly the centre of the view that you are interested in.

And yep, I just pilfered someone else's code for the saving location (http://stackoverflow.com/questions/9853351/building-my-own-camera-application-automatically-capture-the-image) - we can definitely look to tweak that.

[2013-12-31 18:08] Wallace0 commented on #20
Yep, well I think we need a more general bug fix and tidy up anyway - to my mind I think we are about there in terms of basic capabilities for a v1 release - definitely if we also include the 2 phased control thing as well.

[2013-12-31 18:12] durka opened #21 "make the DefaultActivity components rearrangeable"
I'm not sure if this is a good idea, but I think it is, because it can simplify the preferences a lot while adding more configurability. But it can wait until after the next release, I think. I just wanted to write it down.

Here is my n-point plan to reorganize the UI preferences:
1. kill all of the "show/hide X" checkboxes
2. kill the current DA layout hierarchy and put everything in a flat Abso

[2013-12-31 19:08] habeIchVergessen commented on #18
snap circular segment implemented.

[2014-01-01 06:28] durka commented on #19
Happy new year! I dove in and ended up rearranging more than I meant to -- I put the layout into XML and moved the actual taking of the picture into CameraPreview. I'm [still stumped](http://stackoverflow.com/questions/20866108/taking-a-photo-and-placing-it-in-the-gallery) as to how to get the photos showing up at the beginning of the Gallery as if they were new camera photos. For me, they show up

[2014-01-02 13:28] durka commented on #19
You're right, there's some weird bug with saving the photo - Android has some strange ideas about the orientation.

[2014-01-02 19:30] habeIchVergessen commented on #18
highlight selection implemented. layout has been changed (incl. smaller buttons).
please give me feedback for usability.

[2014-01-03 17:02] Wallace0 commented on #18
Hiya - I checked out your TestInput repository, but when I launch it nothing happens. Here's the console log:

[2014-01-03 16:55:22 - MainActivity] ------------------------------
[2014-01-03 16:55:22 - MainActivity] Android Launch!
[2014-01-03 16:55:22 - MainActivity] adb is running normally.
[2014-01-03 16:55:22 - MainActivity] No Launcher activity found!
[2014-01-03 16:55:22 - MainActivity] The

[2014-01-03 20:52] Wallace0 commented on #19
Managed to get the photos to the right end of the gallery - needed to add date metadata to them. I've also switched it to a better auto focus mode, and downsized the preview so it has a decent aspect ratio. Pictures are taken the right way up if you have the phone in portrait orientation - I've not managed to get it to work correctly with landscape orientation (yet!).

[2014-01-04 16:45] habeIchVergessen commented on #18
it's an AndroidStudio project. i'm using version 0.4.0.

[2014-01-04 17:05] durka commented on #18
Hmm. It worked for me. @Wallace0 do you maybe have some other project that also compiles to MainActivity.apk?

I can't get Android Studio to work so I'm [using gradle from the command line](http://stackoverflow.com/questions/17326162/can-you-deploy-to-a-device-via-gradle-from-the-command-line-in-android-studio):

[code]

You have to use gradle 1.9, not 1.10.

Something is weird with the new versio

[2014-01-04 17:38] habeIchVergessen commented on #18
i changed the menu to invisible by default!

[2014-01-04 23:11] durka commented on #18
When I get the menu to come up, it works great -- but I only seem to hit the right spot about 1% of the time! Is the hit target impossibly small?

[2014-01-05 00:02] habeIchVergessen commented on #18
i have removed clickable and focusable from menu button. it forbids event handling for coordinates on top of menu button. just the surrounding ellipse starts user actions. i found this issue in AVD.

[2014-01-05 02:38] durka commented on #19
The problem is that rotation is disabled on DefaultActivity, so orientation changes are not received and getRotation() will always return 0.

[2014-01-05 02:50] durka commented on #19
Fixed using OrientationEventListener.

Edit: um, except that viewing the resulting image crashes the Gallery... that's a new one...
Edit 2: don't save images with orientation greater than 360!

[2014-01-05 03:21] #19 closed, assigned to nobody

[2014-01-05 03:28] durka commented on #19
Gallery bug [reported](https://code.google.com/p/android/issues/detail?id=64431).

[2014-01-06 16:15] Wallace0 commented on #18
OK, getting a new problem now - get this when I try and launch it:

01-06 15:58:11.975: E/AndroidRuntime(6723): FATAL EXCEPTION: main
01-06 15:58:11.975: E/AndroidRuntime(6723): java.lang.RuntimeException: Unable to instantiate activity ComponentInfo{org.habeIchVergessen.testinput/org.habeIchVergessen.testinput.MainActivity}: java.lang.ClassNotFoundException: Didn't find class "org.habeIchVergesse

[2014-01-06 20:28] durka opened #22 "news: thoughts on 0.1"
So, I'm thinking about cutting release 0.1, soon. Meaning, in the next couple of days.

Things that I want to get in for 0.1:
- [x] a little much-needed preference de-complexifying **(in branch _pref-cleanup_)**
- [ ] hIV's code for slide-to-answer/reject phone calls
- [x] notification blacklist
- [ ] fix all the remaining bugs :)

Things that are going to slip to 0.2:
- [ ] more preference de-com

[2014-01-06 20:30] durka opened #23 "notification blacklist"
Some notifications aren't important enough to be shown on the cover view. There should be a short list of these, to filter out.

Examples:
- input method select
- flashlight (because we have our own flashlight indicator, and also the light itself is pretty bright)

[2014-01-06 20:31] durka opened #24 "network connectivity indicator"
Show an icon in DefaultActivity for whether mobile data and/or wi-fi are connected

[2014-01-06 20:33] durka commented on #15
I'm closing this but if it's still a problem in latest versions you can re-open it.

[2014-01-06 20:33] #15 closed, assigned to nobody

[2014-01-06 20:34] #13 closed, assigned to nobody

[2014-01-06 20:35] #9 closed, assigned to nobody

[2014-01-06 20:35] #5 closed, assigned to nobody

[2014-01-06 20:36] #7 closed, assigned to durka

[2014-01-06 21:16] Wallace0 commented on #22
Yep, I'd agree with that as a good plan. I'm gonna be absolutely slammed for next few weeks though with my day job, but I'll pitch in as and when I can.

[2014-01-06 22:08] habeIchVergessen commented on #18
use [gradle](http://dist.springsource.com/release/TOOLS/gradle) for eclipse (also refer [here](http://stackoverflow.com/a/10730545)). otherwise [durka's](https://github.com/durka/HallMonitor/issues/18#issuecomment-31583080) instructions works too.

i have updated the repository. code separated, option snap implemented, example implementation for interaction between OptionOverlay and application.

[2014-01-06 22:17] habeIchVergessen commented on #24
take a look at commit [added flight mode notification](https://github.com/habeIchVergessen/HallMonitor/commit/2f3e7b1bfd4d5ac17bd9290ef053e77166f81c08). i guess 50% are done.

[2014-01-06 22:31] habeIchVergessen commented on #22
sounds good. i would prefer separated java files for functionality (refer to OptionOverlay in repository TestInput). what do you think about?

[2014-01-07 06:34] durka commented on #22
Sorry, @habeIchVergessen, I'm not 100% sure what you're saying.

[2014-01-07 19:10] habeIchVergessen commented on #22
i would split the current source code into more files to reduce complexity of merges. an example could be OptionOverlay.java from TestInput repository.

[2014-01-07 23:16] durka commented on #22
Yeah, you may be right. Functions.java is getting top-heavy. I wanted to centralize the "business logic" instead of spreading it around the different activities/services but I need to do some refactoring for sure.

[2014-01-11 23:22] #23 closed, assigned to durka

[2014-01-15 04:09] durka commented on #22
Pushing the network indicators to 0.1.1, I think. They make everything cluttered (see signal-indicators branch) and give me ideas for even more buttons, which means it should wait for the rearrangeable components feature (or a popup menu).

[2014-01-15 04:12] durka commented on #24
Partially implemented in the signal-indicators branch. For reference (this is a note to myself):

https://github.com/mvglasow/satstat/blob/master/src/com/vonglasow/michael/satstat/MainActivity.java
https://github.com/CyanogenMod/android_frameworks_base/blob/db6e4704ebe0d1c12e7ed2057b2678bd4ccfa595/packages/SystemUI/src/com/android/systemui/statusbar/policy/NetworkController.java#L618

[2014-01-15 21:25] habeIchVergessen opened #28 "general discussion: framework"
i have add the branch [framework](https://github.com/habeIchVergessen/HallMonitor/tree/framework) (my ideas about an component framework).

objective target:
- standardized handling of views (clock, phone, camera, etc.)
- loading on demand (visibility)
- shared code base
- distributed functionality (reduce complexity of merges)
- consolidate layout and code (runtime)
- alternative layout implement

[2014-01-23 21:24] habeIchVergessen commented on #28
i guess the basics are in place
- a container managing visibility and touch event handling
- menu integration
- switchable default layouts
- example: child view for phone and camera
- small variety of listener implementation (onResume, onPause, onScreenOffTimerOn/Off, onMenuActionListener, onPreview)

for testing purpose package is renamed in org.durka.hallmonitor_framework_test (separate installa

[2014-01-26 06:52] #22 closed, assigned to durka

[2014-02-05 01:48] deanoblock opened #32 "Blue bg green font"
Version: 0.1

Environment:
Galaxy S4 SGH-I337
CM11 ROM
TWRP

Description:
Installed Hall Monitor and enabled Root access function + notifications.

Within a day the S-view when closed went from being the standard black bg white font to a bright blue bg with green font (hard to read for color blind).

Only way to resolve issue was to uninstall apk and reinstall.

[2014-02-05 02:28] durka commented on #32
I've seen a similar issue, where the widget settings seen to be lost when the phone restarts. Do you know if your phone was restarted?

I am surprised that you weren't able to change the settings back without reinstalling. I assume you tried simply going to the settings page and selecting other colors? Thinking about it as I write, I'm wondering if those settings might not be applied until the ser

[2014-02-05 03:13] durka commented on #32
Nope (to what I was thinking about), looks like the background/foreground color settings are read every time the overlay comes up. So getting "stuck" on the defaults is definitely a bug. I will look into it but let me know if it happens again, I could have you do a diagnostic maybe.

[2014-02-05 15:38] deanoblock commented on #32
Hey, on CM11 the settings page does not open so maybe thats why I couldn't
reset manually...

I have no problem debugging it for you, do you want logcat or anything
specific?

On Tue, Feb 4, 2014 at 10:13 PM, Alex Burka notifications@github.comwrote:

[2014-02-05 17:43] durka commented on #32
Wait, you can't get to the settings? That's certainly a problem. It's working for me on CM11 so far. If you can get a logcat of the settings trying to open (launch HM from the home screen/app drawer, make sure it's enabled, then tap on the word Enable (not the on/off switch) and see if the general settings come up), I'd love to see that!

[2014-02-06 05:38] deanoblock commented on #32
When I follow the above steps, from the word Enable.  Settings opened but on the 3rd try.

Here is a logcat of opening HM and going to menu and clicking Settings.
Result: settings does not appear

logcat: http://s000.tinyupload.com/?file_id=07494414114334564549

anything else I can do?

[2014-02-07 16:34] habeIchVergessen commented on #32
@deanob: press about preference until overlay "debug enabled now" appears (7 times).

repeat your test and post the new logcat. disable debug again.

[2014-02-07 16:37] durka commented on #32
Also, the "Settings" in the menu doesn't do anything and shouldn't be
there. We'll fix that. The settings are hierarchical and when the switches
on the main screen are set to On, you can click through them to the
sub-pref-screens. This may need to be made more obvious.

On Fri, Feb 7, 2014 at 11:34 AM, habeIchVergessen
notifications@github.comwrote:

[2014-02-07 16:39] deanoblock commented on #32
Agreed settings menu should be more user intuitive.
On Feb 7, 2014 11:37 AM, "Alex Burka" notifications@github.com wrote:

[2014-02-07 16:55] durka opened #33 "Widget settings lost on reboot"
If an alternative widget is set and the phone is rebooted, the widget does not appear. It may need to be reinitialized or something -- not sure if the setting is actually changing or just the widget manager needs to do something on device startup.

[2014-02-18 21:08] JoepVK opened #34 "Widgets dont resize the right way"
![unnamed](https://f.cloud.github.com/assets/6720492/2200335/ae7bef0a-98e0-11e3-8423-16cb239c5655.png)

Widgets dont seem to resize. The Google Play Music widget is missing the next arrow.
Android: 4.4.2 KitKat, CM11
Device: i9205 Galaxy Mega, International version

[2014-02-18 21:10] JoepVK opened #35 "Feature Request: Galaxy Mega Support"
Maybe this can be added.
On my Galaxy Mega, Hall Monitor still uses the S4 format smart view.
This results in alot of space not being used.
Android: 4.4.2 KitKat, CM11
Device: i9205 Galaxy Mega, International version
![unnamed 1](https://f.cloud.github.com/assets/6720492/2200358/15988860-98e1-11e3-874c-0fb995227b49.png)

[2014-03-23 09:50] TauPan opened #36 "Dies nothing at all on S4"
I've tried with cm 10 and 11, device is a european jftexx.
Gt i9505, running

[2014-03-23 09:54] TauPan commented on #36
sorry, hit submit prematurely.

Cm11-20140311-nightly-jflte.

Not sure what information I cannot provide that would help here. I can easily pull an adb log and send it to you privately, if that helps.

Kind regards
Friedel

[2014-03-23 09:55] TauPan commented on #36
s,cannot,can,

[2014-03-23 21:32] durka commented on #36
Well, that's unfortunate. I'd love to see an ADB log captured both while you're activating Hall Monitor, and while you open and close the cover.

[2014-03-24 07:36] TauPan commented on #36
Ok. This might take a while, since I need to do this at home and I'm currently on my way to work.

[2014-03-25 19:24] TauPan commented on #36
Sent logs to the mail address listed in your github profile. Please keep them confidential!

[2014-03-26 14:51] nemphys commented on #12
Hi, I have been doing my own research in the SGS5 kernel source trying to spot any useful information concerning the cover open/close event and then I stumbled upon this discussion.
As correctly mentioned earlier, the driver produces uevents, but the stock android code just ignores them, since the hall sensor is not something default for android phones.
Since all the kernel->userspace event transl

[2014-03-26 17:54] durka commented on #12
Indeed patching InputManagerService seems like the way to go.

On Wednesday, March 26, 2014 at 10:51 AM, Dimitris Kazakos wrote:

[2014-04-02 11:26] yunyoulu opened #37 "Most recent used background app pops up after unlocking screen"
Hi I've been using HallMonitor and it is weird on my phone. When finished using the phone I went back to the Home screen and closed the cover. After HallMonitor turned off the screen as desired, I opened the cover again (and unlock the screen if armed with screen lock) and the last used app popped up, although I was at Home screen before closing the cover.

The last used background app would not a

[2014-04-03 18:07] durka commented on #37
I've noticed this. I think that moveTaskToBack needs to be conditional on something. I will look into what the right condition is and put that into the next version (presumably 0.2.2).

[2014-04-03 18:07] durka commented on #37
Thanks for the report. Bug reports are useful, not annoying!

[2014-04-04 06:23] yunyoulu commented on #37
Thank you. If the cover is quickly closed and opened (without locking the phone) the default activity disappears normally and no other application is brought foreground. The problem only occurs when opening cover from a locked state.

[2014-04-07 15:50] wilfried18 opened #38 "Flip Cover ?"
When will the compatibility of "Flip Cover"?

[2014-04-07 17:51] durka commented on #38
What?

[2014-04-07 20:07] wilfried18 commented on #38
I'm "AOSP rom" and my flip cover does not work even with the application so I ask when there is not such thing for "s-view" but for "flip cover

[2014-04-07 20:11] durka commented on #38
Ah, okay. As far as I know, what I call S-View and Flip Cover refer to the same thing. Can I have some more information on what phone you have, what cover, and what version of Android?

[2014-04-08 17:25] wilfried18 commented on #38
@durka http://www.galaxys4.fr/samsung-galaxy-s4-test-de-la-flip-cover
galaxy s4 gt9505 rom aosp android 4.2.2

[2014-04-08 17:31] durka commented on #38
Thanks for that reference. Unfortunately, it seems the flip cover, unlike the view cover, does not have a magnet in it

so Hall Monitor cannot work with this because it will not trigger the hall effect sensor. Sorry!

[2014-04-08 17:31] #38 closed, assigned to nobody

[2014-04-08 17:33] durka commented on #38
An app like [Simple Cover Lock](https://play.google.com/store/apps/details?id=net.zalio.android.cso&amp;feature=search_result) will use the proximity sensor only so it should work with any cover (or by simply waving your fingers over the proximity LED).

[2014-04-09 14:41] wilfried18 commented on #38
Tanks @durka damage I liked your open source application

[2014-04-18 08:56] MyPublic commented on #37
Same behaviour here with my S4 (CM11).
Sometimes more than one app pops up (Firefox, Stock Browser, Chrome, Dialer). Would be great, if this can be fixed!
@durka Thanks for the great app!!

[2014-04-18 20:32] durka commented on #37
I've fixed this in that the most recently used app does not come up anymore. Hall Monitor still sometimes takes a long time to appear when the cover is closed over the home screen, still investigating that. New version should be coming soon to F-Droid.

[2014-04-18 20:32] #37 closed, assigned to nobody

[2014-05-30 10:27] Cilenco opened #42 "NullPointerException on local machine"
I tried to modify the code a bit on my machine but I get a `NullPointerException` in the Functions class because `defaultActivity` is null. I can't find the line where to set it before starting the Activity. I tried to run the code while the Activity is not initialised. Where do you do that?

[2014-05-30 18:18] durka commented on #42
Can I have some more detail about where the error occurred? Post a stack trace if you can. `defaultActivity` should be set to the singleton instance of `DefaultActivity` while the activity is visible (yeah, it's kind of a hack and needs to be refactored, but such is life).

[2014-05-30 21:18] Cilenco commented on #42
My problem is that the service calls `Functions.proximity` where `close_cover` is called. There you use defaultActivity.onScreen. But the Activity is not showen before and so the object is null. So you have to set it before but I can't find where.

I do not think that a stacktrace is usefull here. I only do what I described above and there is only the `NullPointerException` with the lines from the

[2014-05-30 21:23] durka commented on #42
If you are talking about [Functions.java line 116](https://github.com/durka/HallMonitor/blob/master/src/org/durka/hallmonitor/Functions.java#L116), that is checking `DefaultActivity.on_screen`, not `defaultActivity.on_screen`. Those are quite different because `DefaultActivity` is the class so it is referencing the static variable `on_screen`. If that's what you changed then it would explain the N

[2014-05-30 21:39] Cilenco commented on #42
Oh yes sorry you are right. Was my mistake works fine now. Thank you.

[2014-05-30 21:39] #42 closed, assigned to nobody

[2014-06-19 21:56] manusfreedom commented on #36
Could you try my version 0.3.5?

[2014-06-20 07:41] TauPan commented on #36
@manusfreedom I just tried it. It does nothing at all as well. When I close or open the cover, nothing happens. I just see the superuser toast ("superuser has been granted for HallMonitor"). No difference if I set "Real Hall" in root features or not.

[2014-06-20 07:59] manusfreedom commented on #36
I personally use:
- GT-I9505 (intl)
- last CM11 nightly (20140618)
- Alucard Kernel AOSP 2.6.8
- SuperSU 2.0

[2014-06-20 11:34] TauPan commented on #36
- GT-I9505 (intl)
- last CM11 snapshot (20140609)
- kernel from that snapshot
- SuperSU 2.00 ... When I just started it to check the version, it tried to upgrade the su binary and failed, but I have no problems using SU-Access generally

[2014-06-20 16:01] B--B commented on #36
Really strange, seems a problem related to supersu... Have you tried to clean and reinstall supersu? However I ' m testing latest release, everything works fine with real hall sensor.
My conf
Paranoid Android 4.4 rc2
Kernel stock
I9505 int jflte
I have a couple of commits to pull but i' ll wait until all this change will be merged.
If you need log or something else just ask.

[2014-06-24 20:23] manusfreedom commented on #36
Taupan: Please run as root this command and send me it:
getevent -i

[2014-06-25 17:29] TauPan commented on #36
I'm back on stock on an S5, my S4 is non-operational, so there's no way I can reproduce this any more. Not going to flash the S5 yet.

[2014-06-25 17:29] #36 closed, assigned to nobody

[2014-07-09 11:45] ihavenick opened #45 "Bootloop"
Hi .
i wrongly installed this hallmonitor and i cant delete it so i delete apk from /data/app and now my phone in bootloop

how can i fix it ? can you send me /data/app/com.blabla.hall.apk ?

[2014-07-09 17:36] durka commented on #45
It goes without saying this isn't supported. But you can find the APK in the "bin" folder of the repository (the same place you got it from before).

[2014-07-09 17:36] #45 closed, assigned to nobody

[2014-07-18 08:31] ChrisCurrin opened #46 "Feature Request"
Is it possible to disable the home button when Hall Monitor is active? I sometimes wake the phone to find it in the state arising from the action of the home button.
Not a major concern, but an annoyance nonetheless.
P.S. This is for S4mini (CM 11)

[2014-07-18 18:29] durka commented on #46
Hmm, this is not generally possible (the OS handles the Home key press and doesn't even tell the app about it) but there maybe something I can do if root access is enabled. I will look into it.

[2014-07-18 19:09] ChrisCurrin commented on #46
Thanks man, I use a custom ROM which has root access. Not sure how difficult it would be to implement though

[2014-07-18 19:23] durka commented on #46
Well, I spoke too soon. Found a library: https://github.com/shaobin0604/Android-HomeKey-Locker

So this will be in the next version.

[2014-07-18 19:23] #46 closed, assigned to nobody

[2014-07-19 15:31] kumajaya commented on #12
Please check http://review.cyanogenmod.org/#/c/68621/

[2014-08-08 22:22] panchito153 commented on #12
I have the 3g version whit cmyanogenmod 11 and I can't use the touch functions on the window from the cover. Please someone help me

[2014-08-09 11:05] habeIchVergessen commented on #12
connect your device to pc and run following commands in adb:

echo module_on_master > /sys/class/sec/tsp/cmd && cat /sys/class/sec/tsp/cmd_result
echo clear_cover_mode,3 > /sys/class/sec/tsp/cmd && cat /sys/class/sec/tsp/cmd_result

test touch events with closed cover.

if it works then you have to patch line 205 of [Functions.java](https://github.com/durka/HallMonitor/blob/master/src/org/durka/ha

[2014-08-19 20:29] VolMi opened #48 "SW_LID vs SW_FLIP"
Today I noticed this commit in "my" CM11 nightly: http://review.cyanogenmod.org/#/c/70739/
After I updated CM, the "real Hall" method did not work anymore (I reflashed HallMonitor.zip).
But a cool thing is: Even after deinstalling HallMonitor, my screen lights up now when I open the cover. Closing has not visisble effect.

I wonder if this is the real hall method, implemented by CM and ready to us

[2014-08-19 21:19] durka commented on #48
Seems like the commit just changes the name of the constant, but I did see that CM was working on implementing the hall monitor event. I will have to see about the nightly when I get back from vacation -- maybe you’re right.

On Tuesday, August 19, 2014 at 4:29 PM, VolMi wrote:

[2014-08-21 08:01] manusfreedom commented on #48
Normally it won't change HallMonitor, because HallMonitor use hard coded value.

[2014-08-21 08:03] manusfreedom commented on #12
@kumajaya I am working on a refactor of HallMonitor to be able use integrated system action and/or HallMonitor services.

[2014-08-23 01:30] panchito153 commented on #12
tanks for your help habeIchVergessen but i dont really know about this stuff so i dont know too well how to do that.

[2014-08-26 10:26] habeIchVergessen commented on #12
next nightly should include [flip cover](http://review.cyanogenmod.org/70832) changes

[2014-08-27 07:48] manusfreedom commented on #12
My version already support it, but not committed now. I will try for this week-end.

[2014-08-27 12:31] habeIchVergessen commented on #12
CM-Team made the required changes in android_framework_base.
they added an intent ACTION_LID_STATE_CHANGED ("android.intent.action.LID_STATE_CHANGED") which signals cover open/close events.
~~still not working yet (20140826-Nightly).~~

[2014-09-03 23:35] manusfreedom commented on #12
Please try my 2.0.0 beta
https://github.com/manusfreedom/HallMonitor/commit/fc74f935d3bd8107d7e3c320e67bf19778ffe6a6
I have not tested on last CM 11 (need to update my phone).

[2014-09-03 23:36] manusfreedom commented on #34
Please try my 2.0.0 beta
https://github.com/manusfreedom/HallMonitor/commit/fc74f935d3bd8107d7e3c320e67bf19778ffe6a6
And say if the problem always exist (if needed restart the application: see Configuration activity)

[2014-09-04 00:18] diegolopezlr commented on #12
Hi @manusfreedom , downloaded your 2.0 beta version, I'm unable to install it successfully. Tried on a clean install, also tried manually copying the apk to /system/app, however, it sill FC's

[2014-09-04 08:40] habeIchVergessen commented on #12
only flash via recovery works.
screen doesn't turn on since CM-Team has added "partial smart cover support" (nightly 2014-08-27).
you have to use WindowManager.LayoutParams.FLAG_TURN_SCREEN_ON.

[2014-09-04 09:16] manusfreedom commented on #12
Install theough recovery use system app feature, so normally no need of WindowManager.LayoutParams.FLAG_TURN_SCREEN_ON because we wake up all the system like the power button. I think they don't send the LID_OPEN event. So, for now continue to use real hall service.

[2014-09-04 09:49] habeIchVergessen commented on #12
tried to install both apk's, but always failed.

LID-OPEN event works properly [(see framework test)](https://github.com/habeIchVergessen/HallMonitor). cm's changeset explicitly enables turn screen on while cover is closed, when the current window use FLAG_TURN_SCREEN_ON. otherwise they don't turn on the screen.

[2014-09-04 11:03] manusfreedom commented on #12
I am on 20140903-Nightly and their LID system does not always work (and only for close).

[2014-09-04 12:27] habeIchVergessen commented on #12
i'm using 2014-08-07-Nigthtly and it works properly. did you tested my "framework test"?
maybe an cross talk with your native code. the apk (installed from zip) only shows up, when cover was opened and screen off when closed. i have to reboot to get access to ui back.

[2014-09-04 12:42] manusfreedom commented on #12
@habeIchVergessen i have to reboot to get access to ui back (or kill process)=> It’s a bug to keep a single instance, try last version commited.

[2014-09-04 13:13] habeIchVergessen commented on #12
as mentioned before: installation failed!
and yes kill would be an option but requires access to ui!

HallMonitor/cm_certs/zip/common/HallMonitor.apk
sha256: 0a38cd1e262f1875d0d17528a2343df5a8f6aa0723b5c3146d8f560dce6e0535
![source](https://cloud.githubusercontent.com/assets/3988506/4149551/36a8f252-3435-11e4-995f-9ef897ceecdf.jpg)

[2014-09-04 15:00] manusfreedom commented on #12
I think it's a misunderstood, I speak about Hallmonitor ui (configuration activity) or OS ui (launcher after HallMonitor)?
Because the problem with the Cyanogen, they have their own smart cover screen and Hallmonitor seem conflict with it (and it is normal, Cyanogen must provide a settings to disable their).
I have no conflict using Hallmonitor and his RealHall service on 20140903-Nightly. Without

[2014-09-04 16:25] habeIchVergessen commented on #12
I speak about any kind of ui. i can see only the hallMonitor layout. all hardware buttons are disabled (back and home).

after updating to 20140903-nightly i can confirm that lid works properly.

starting debug version causes exception:

09-04 18:59:43.506     683-1015/system_process I/ActivityManager﹕ START u0 {flg=0x14810000 cmp=org.durka.hallmonitor/.Configuration} from pid 7235
09-04 18:59:43.

[2014-09-04 17:16] draner commented on #12
Same thing for me, unable to get it working even if Use internal service is checked and RealHall aswell it only show a black screen and when i open the cover i see 0.5 sec of the hall monitor screen and my phone says that InputDevices has a root permission, it's weird that it work properly for you

edit: now hall monitor don't show in app drawer after installation via recovery and copy/pasting 2 t

[2014-09-04 21:29] manusfreedom commented on #12
I found why it work with me, because of my kernel (alucard24 on xda). Cyanogen modified too much thing. I will release a patch tomorrow to fix black screen and you are right about using the flag, but it is not very smart from them because a real wake up like power button is overrided by the cover, it's a bad thing.

[2014-09-05 06:22] draner commented on #12
i'm unable to find that kernel for the s4 mini i9195 device, i find only for the original s4

[2014-09-05 08:31] habeIchVergessen commented on #12
KEYCODE_HEADSETHOOK just works for pickup. hangup doesn't work in CM-build (pm'ed arco68).

[2014-09-05 09:03] manusfreedom commented on #12
I am on S4 original.

[2014-09-05 15:43] draner commented on #12
i'll try to find a custom kernel for the s4 mini and tell if it works or not

[2014-09-05 17:25] habeIchVergessen commented on #12
HEADSETHOOK works for cm like this

pickup:   sendKeyMediaHook(false);
hangup: sendKeyMediaHook(true);

private void sendKeyMediaHook(boolean longPress) {
   Intent intent = new Intent(Intent.ACTION_MEDIA_BUTTON);
   KeyEvent keyEvent = new KeyEvent(KeyEvent.ACTION_UP,
     KeyEvent.KEYCODE_HEADSETHOOK);

   if (longPress)
     keyEvent = KeyEvent.changeFlags(keyEvent, keyEvent.getFlags() |

[2014-09-06 00:43] manusfreedom commented on #12
@habeIchVergessen It works to end a call but not to reject it. So I search a way to reject incomming call.
I don't find why preview camera is rotated in the bad way.
I uploaded new code but not the compiled version.

[2014-09-06 09:57] habeIchVergessen commented on #12
we need to set the repeatCount too

if (longPress)
  keyEvent = KeyEvent.changeTimeRepeat(keyEvent, System.currentTimeMillis(), 1,
     keyEvent.getFlags() | KeyEvent.FLAG_LONG_PRESS);

[2014-09-06 11:19] manusfreedom commented on #12
@habeIchVergessen I tested and it works well. I fixed camera.
I will push a bug fix release to day.
I don't know why but I don't receive always the incomming call state.

[2014-09-06 14:01] manusfreedom commented on #12
Please try last release

[2014-09-06 14:15] draner commented on #12
After a flash of the zip in the recovery, the app does not show in the drawer, do i have to install the debug version ?

edit: when i try to install the debug version, it fails

edit2 : after a reboot to recovery then install 2 times then wipe cache and recovery it shows up but still do the same, black screen when i close the cover even if the realHall box is checked

[2014-09-06 16:59] habeIchVergessen commented on #12
same here: install debug version fails

[2014-09-06 17:51] manusfreedom commented on #12
To use it with CM11 default kernel :
- disable all internal services and himself
- enable OS cover management in option (submenu of Enable)

Please provide feedback.
If anyone could provide me log of install errors, I will try to fix it.

[2014-09-06 19:33] draner commented on #12
Still don't work for me, only a black screen, for installation, i need to wipe cache and dalvik after installation for the app to show in the drawer, but nothing pop up when i close the cover, the screen just goes black

[2014-09-06 20:37] habeIchVergessen commented on #12
@draner: did you disable "proximity check before wakeup"? it's located in display menu.

@manusfreedom: install log

![install_log](https://cloud.githubusercontent.com/assets/3988506/4176463/85bcf9b6-3605-11e4-850a-347d85a84105.jpg)

[2014-09-06 21:20] draner commented on #12
yes it's disable

[2014-09-07 10:15] manusfreedom commented on #12
Please see last readme and last version.
Debug can be installed but you must clean everything.

[2014-09-07 10:23] draner commented on #12
I'll test it ASAP and give you some feedback after a clean installation

[2014-09-07 12:59] draner commented on #12
Installation works fine after a clean install but still nothing on the screen when i close the cover
I'm thinking about something, can we just revert the commit with partial support of the cover because he all messed up ?

edit: interesting fact is that when i check use internal services then realHall, i can wake up the phone using power button, but not when these two are not checked

[2014-09-07 15:01] manusfreedom commented on #12
No rollback possible, if you must rollback something is cyanogen.

[2014-09-07 17:15] habeIchVergessen commented on #12
install works now. config starts.
just a black screen on closing cover. sometimes hallmonitor shows up on open.
do you use FLAG_TURN_SCREEN_ON?

[2014-09-07 17:19] manusfreedom commented on #12
In DefaultActivity.java/onCreate:
        // Keep screen on during display
        this.getWindow().addFlags(
                WindowManager.LayoutParams.FLAG_KEEP_SCREEN_ON);

Edit: I just see my error... I will fix it

[2014-09-07 19:11] manusfreedom commented on #12
I uploaded a fix version.
I hope, it will fix all, because I will not be able to work on Hall Monitor like last days during next weeks.

[2014-09-07 19:39] draner commented on #12
i just tested, now, when the cover is closed, the screen blinks, i installed the debug version, maybe i should have installed system app ?

[2014-09-07 20:18] manusfreedom commented on #12
Please provide me logs.

[2014-09-07 20:28] draner commented on #12
i don't know how to make logs :)

[2014-09-07 21:08] manusfreedom commented on #12
I commit a fix to try in the debug version. So, retry please. (it's my last commit for today)

[2014-09-08 08:12] habeIchVergessen commented on #12
output of org.durka.hallmonitor only. no other exceptions occurred.

![blink_debug](https://cloud.githubusercontent.com/assets/3988506/4182516/a19504e6-372f-11e4-9dfc-ab22fea6d469.jpg)

[2014-09-15 14:58] manusfreedom commented on #12
I did a code review of smartcover by CyanogenMod.
Their is no way to replace the integrated smartcover support:
- they completely manage wakeup/sleep with smartcover (sleep time fixed at 8sec) => no timer from our side possible
- we can't manage to launch our hallmonitor display to the right time (just after the integrated smartcover)
- with smartcover close, the power button doesn't work everytim

[2014-09-15 17:39] habeIchVergessen commented on #12
i'm using [nightly 2014-09-03](http://download.cyanogenmod.com/?device=serranoltexx) and it works properly with [HallMonitor (Framework Test)](https://github.com/habeIchVergessen/HallMonitor/blob/framework/bin/HallMonitor%20%28Framework%20Test%29.apk)
- power button responses all times. power on is lazy sometimes (up to several seconds)
- sleep time (customizable via app)

and my [commit on your f

[2014-09-15 17:44] durka commented on #12
@manusfreedom Bleh, well, that's good news and bad news. Good news, they implemented it; bad news, they did it in an in-extensible way. But it's only a nightly build, maybe they will put in some extension hooks later. I wonder if we can talk to the CM devs about that? Anyway, thanks for looking into their implementation.

On Monday, September 15, 2014 at 10:58 AM, manusfreedom wrote:

[2014-09-15 21:37] manusfreedom commented on #12
@habeIchVergessen How could you say that your commit is a fix. Why we need to keep our activity on if screen off is received?! And power button responses all times is not true I use CM without Hallmonitor and only stock CM, it works when it want and less than 50%!!

[2014-09-16 17:58] habeIchVergessen commented on #12
what happens when cover will be closed?
1. os sends LID_STATE_CHANGED intent
2. HallMonitor receives LID_STATE_CHANGED and starts default activity
3. os turns off display (current window doesn't have FLAG_TURN_SCREEN_ON) and sends ACTION_SCREEN_OFF
4. HallMonitor comes up and shows window with FLAG_TURN_SCREEN_ON; os turns screen on and sends ACTION_SCREEN_ON
5. HallMonitor receives ACTION_SCREEN_

[2014-09-16 18:11] draner commented on #12
if someone can upload an apk version of the latest changes i can test it and tell what happens for me, i'm on the latest nightly build, apparently they made changes for the cover in callui but i don't see anything changing, just a line on the patchnote about that

[2014-09-16 20:31] habeIchVergessen commented on #12
[manusfreedom version (incl. my bugfixes) - !!! testing only !!!](https://github.com/habeIchVergessen/HallMonitor/blob/manusfreedom/download/debug/HallMonitor%202.0%20%28Test%20Build%20habeIchVergessen%29.apk)

[my project clone](https://github.com/habeIchVergessen/HallMonitor/blob/framework/bin/HallMonitor%20%28Framework%20Test%29.apk)

[2014-09-16 21:10] draner commented on #12
The manusfreedom version (first link) works perfectly for me

[2014-09-16 21:52] habeIchVergessen commented on #12
no power on issues? blinking app? phone control works too?

[2014-09-17 11:02] draner commented on #12
no issues for me ATM, phone control works and everything looks fine

[2014-09-17 11:49] habeIchVergessen commented on #12
@draner: can you pickup/hangup calls with cover closed?

@manusfreedom: never get debug output like this "Hall.CS.enableCoverTouch"

[2014-09-17 11:59] manusfreedom commented on #12
@habeIchVergessen did you enable root?

[2014-09-17 12:04] draner commented on #12
this morning i rejected a call using the cover and it works

[2014-09-17 13:11] habeIchVergessen commented on #12
@manusfreedom: yes i did (superuser log told me). used an older apk than draner. a fu..... recompile solved it (don't ask me).
got new error on dpm.lockNow(); (CoreService.java; patched source and apk uploaded).

[2014-09-18 10:40] manusfreedom commented on #12
New version to day or tomorrow.

[2014-09-18 22:32] manusfreedom commented on #12
New release: https://github.com/manusfreedom/HallMonitor/releases/tag/2.0.1

[2014-09-20 08:45] manusfreedom commented on #48
@VolMi Try my new release (2.0.2 beta), I added CM 11 support.

[2014-09-20 08:49] manusfreedom commented on #20
@durka Normally it's better since 2.0.0

[2014-09-20 08:50] manusfreedom commented on #12
New release: https://github.com/manusfreedom/HallMonitor/releases/tag/2.0.2

[2014-09-20 09:15] draner commented on #12
Just tested that new version, it seems that it works but it don't want to diplay the date and i have a blue bar at the bottom where the torch icon is

[2014-09-20 09:52] manusfreedom commented on #12
@draner On/Off default/alternative layout.

[2014-09-20 10:31] draner commented on #12
it now diplay the date fine, but it tells me we are on august 22th, do you know why ?

[2014-09-20 14:43] manusfreedom commented on #12
I will fix it, I found why.

[2014-09-20 16:08] SystemDisc opened #50 "Feature request: support for different sized views"
Right now, the app seems to be calibrated specifically for the "Samsung Galaxy S4" as advertised.

This app does work wonderfully with the Note 3, but the opening in the Note 3's s-view is larger than the opening in the S4's s-view, so there's quite a lot of space in the bottom half of the opening when the app activates.

I was hoping a setting to change the view's width, height, and position coul

[2014-09-20 23:35] manusfreedom commented on #12
Fix in 2.0.2.1: https://github.com/manusfreedom/HallMonitor/releases/tag/2.0.2.1
Removed color in alternate display

[2014-09-23 07:40] steph44 opened #51 "Problem to accept or reject calls"
Hello,

First of all, many thanks for your work.
My config : Galaxy S4 I9505 + CM11
I checked the otpion "Phone control".
It works fine, but when the cover is closed, I can not have interaction with the window.
I can not switch ON/OFF the torsh, the camera and I can not accept or reject calls.

Another detail : Before I installed CM11, all worked fine with the native samsung rom.

Excuse me for my

[2014-09-25 16:15] habeIchVergessen commented on #51
can you provide logcat output?

[2014-09-25 16:24] steph44 commented on #51
Hello Excuse me again for my poor english, but I don't know what is "logcat output"... Best regardSteph--------- Original Message ---------From: habeIchVergessen To: durka/HallMonitor Date: Thu Sep 25 18:15:19 CEST 2014Subject: Re: [HallMonitor] Problem to accept or reject calls (#51)
can you provide logcat output?

—Reply to this email directly or view it on GitHub.
{"@context":"http://schema.org

[2014-09-25 17:20] habeIchVergessen commented on #51
do you enabled root access?
logcat displays android debug informations.  use adb shell via pc or even terminal and type logcat.

[2014-10-30 21:38] ChrisCurrin commented on #12
do you know when/if the CM11 (I got the Oct snapshot) will allow hall monitor to work again?

[2014-12-14 21:32] x1nable opened #52 "Support for CM12"
hello,

great piece of software,thanks for your work. Today i installed CM12 unstable ROM for my S4 mini.So far so good, but the only major thing i cant get running is Hallmonitor (but maybe im doing something wrong). Do you plan support for lollipop?

thx

[2015-01-07 19:59] EXTREMEGABEL opened #53 "Feature Request: The Palm Swipe for Screenshots"
Would it be possible for the Palm Swipe for Screenshots Feature to be implemented?

[2015-01-12 23:57] etomm opened #54 "Support OnePlus One"
Is it possible to implement the support for oneplus one hall sensor?

[2015-01-17 09:58] Abzie commented on #52
Confirmed not working on CM12 official nightlies or any AOSP lollipop rom for i9505 too

[2015-02-11 22:19] AlexanderArvidsson commented on #52
I don't think there is much he can do due to the fact that Android 5.0 AOSP has a built in feature to lock your screen when any cover is closed. However, there might be a way to disable this through terminal, the same way the app toggles higher sensitivity mode.
But we will have to wait and see what they can come up with.

[2015-03-21 15:38] habeIchVergessen commented on #52
we have to wait for LID_STATE_CHANGED support adapted from CM11.

[2015-04-17 09:02] mpcjanssen opened #55 "Support for Note 4"
My N910G with CM12 for N910F seems close to working:
The log shows that de flipping of the cover is detected, but nothing is being displayed even though the log indicates it should have been. See log below:

[code]

[2015-04-17 09:18] mpcjanssen commented on #55
Seems the problem is cause by onStop almost immediately being called after onStart. Don't know why this happens though.

[2015-05-06 09:15] habeIchVergessen commented on #52
next 12.1 nightly contains support for [FLAG_TURN_SCREEN_ON](http://review.cyanogenmod.org/97539)

[2015-05-10 09:51] axiel7 commented on #52
Works on CM12-20150503-NIGHTLY S4 mini with MagnetOff xposed module!!

[2015-05-20 18:20] ghost commented on #52
@axiel7 what settings die you enable in the MagnetOff APP. I cant get it to work yet.

[2015-05-20 18:36] axiel7 commented on #52
Enable: Sleep off, wakeup on ring and wakeup on dock
Disable: wakeup off

[2015-05-21 10:14] ghost commented on #52
@axiel7 And in Hall Monitor, did you enable 'use real hall'?

[2015-05-21 12:41] axiel7 commented on #52
@ThomasJSVos It doesn't appear that option, but  I use it with root permissions

[2015-09-24 22:44] bhabba commented on #52
@axiel7 You would have to press on "Enable" in the config screen (on the text not the checkbox) and then the option to "use real hall" appears ;)

But at least for me it doesn't work on CM12.1 with MagnetOff installed. Only proximity sensor works (which is a real gadfly :unamused: )

Did anyone test the [fork of manusfreedom](https://github.com/manusfreedom/HallMonitor)? He added [several new feat

[2015-10-28 14:46] habeIchVergessen commented on #52
[my fork](https://github.com/habeIchVergessen/HallMonitor/blob/framework/bin/HallMonitor%20%28Framework%20Test%29.apk) works with CM12.1

[2015-10-28 20:06] bhabba commented on #52
[**@habeIchVergessen**](https://github.com/habeIchVergessen) commented on [28. Okt. 2015 15:46 MEZ](https://github.com/durka/HallMonitor/issues/52#issuecomment-151868848):

Thank you! By "work" you mean the hall sensor works, right? I'll give your fork a try as soon as I have access to a compatible Samsung phone again (don't own it myself).

[2015-10-28 23:05] habeIchVergessen commented on #52
not sure if cm12.1 supports LID_STATE_CHANGED yet. Otherwise proximity Sensor is used to detect cover actions and hal state is read from kernel device.

[2015-10-31 13:37] SolaRayvelation commented on #52
@habeIchVergessen
Thank you very much for your work. I missed HallMonitor for a long time since I used it on CM9 or CM10 until CM decided to implement the smartcover feature.
Unfortunately your fork doesn't work reliabely yet. And on my Galaxy S4 LTE+ with CM12.1 (Temaseks unofficial ROM) the hall sensor status seems to be vice versa to the status the app recognizes. So HallMonitor is activating w

[2015-10-31 23:10] habeIchVergessen commented on #52
try to enable debugging (hit 7 times "About Hall Monitor") in preferences. open and close the cover (can be simulated with a magnet). disable debugging. a new text file will written in Download folder.
if the file not appears than i need the output off logcat. can be run from console.

[2015-11-01 21:17] SolaRayvelation commented on #52
hardware: samsung GT-I9506 (ks01lte) build: 12.1-20150928-UNOFFICIAL-temasek-ks01lte os: LMY48P test-keys (Dalvik) kernel: 3.4.109-arter97-9.0-g051a6c4-02029-g964e6eb apk: file: base.apk (/data/app/org.durka.hallmonitor_framework_test-1) package: org.durka.hallmonitor_framework_test md5: 0c298281dc7619ffa9b3707862bafc9b build: Sun Sep 27 13:50:04 MESZ 2015 cert: CN=habeIchVergessen,OU=privat,O=pri

[2015-11-01 21:36] habeIchVergessen commented on #52
can't see any output from cover actions.
please enable debug, disable Hall monitor and reenable it. do some cover actions again. when you use a magnet than also trigger proximity. disable debug and post output here.

[2015-11-03 15:36] axiel7 commented on #52
@habeIchVergessen works for me on cm12.1 based rom!! thx.

[2015-11-03 16:57] habeIchVergessen commented on #52
@axiel7 please post the first part of debug output (hard- and software related stuff). maybe help others.
which layout do you use?
how does the menu work (feedback for usability)?

[2015-11-03 17:45] axiel7 commented on #52
@habeIchVergessen sometimes when I open the cover the ui isn't disappears, I have to close and open again the cover, but that, everything works perfectly.
hardware: samsung GT-I9195 (serranoltexx)
build:    5.1-20151102-NIGHTLY-serranoltexx
os:       exodus_serranoltexx-userdebug 5.1.1 LMY48W 608b5c9719 test-keys (Dalvik)
kernel:   3.4.0-exodus-gf3130f6

apk:
   file:    base.apk (/data/app/org.du

[2015-11-03 18:12] habeIchVergessen commented on #52
you can wipe over proximity sensor or press back button to get ui back. this behavior can't be solved until LID_STATE_CHANGED have been implemented in os.

[2015-11-03 18:14] axiel7 commented on #52
@habeIchVergessen only back button works for me... but thanks!

[2015-11-11 19:39] SolaRayvelation commented on #52
@habeIchVergessen Sorry for the long pause. It still doesn't work correctly for me. In the following there are the first lines of the logfile. If there is not enough information I can send more. Thank you in adcance for your help!

preferences:
   pref_default_fgcolor = '-1'
   pref_runasroot = 'true'
   pref_phone_controls = 'true'
   pref_write_logcat_output = 'true'
   pref_default_widget = 'fa

[2015-11-11 22:53] habeIchVergessen commented on #52
from your log

you close (proximity 0.0) and open (8.0) the cover two times within a second. but the kernel device needs a little bit time to get the correct status from hall sensor (look at class CoverThread in ViewCoverService.java). we make 4 attempts to read status and check against proximity. onCoverStateChanged is called, when status change has been detected. this task is asynchron.
the only

[2015-12-23 09:15] habeIchVergessen opened #56 "Support for CM13"
not yet: FLAG_TURN_SCREEN_ON needs to be implemented

[2015-12-28 11:09] real-or-random commented on #52
@habeIchVergessen Thanks for the working fork.
Do you plan to create a proper release? I think it would make a lot of sense to try to integrate the different forks (assuming that you are willing to spend time on that, of course).

[2015-12-28 12:18] habeIchVergessen commented on #52
it's durkas part to plan a release.
it's nice to hear that it works for others too. but my premise is to make the required changes for myself.

[2015-12-28 13:49] real-or-random commented on #52
I'm not sure if he plans to continue to work on this project.
@durka Do you have any plans?

[2016-01-15 23:50] bradhawkins85 commented on #56
I just installed on SM-G900F running CM13 (20160114 Build) and can confirm it works for me

[2016-01-16 09:08] habeIchVergessen commented on #56
can you post a debug output (incl. cover actions)?

[2016-01-16 11:34] bradhawkins85 commented on #56
I closed and opened the cover 5 times in this log.
[Log_2016-01-16_21-28-18.txt](https://github.com/durka/HallMonitor/files/92866/Log_2016-01-16_21-28-18.txt)

I am having  a random issue with the screen coming on when the cover is closed and not turning back off.  I will attach the log when I can get one.

[2016-01-16 12:12] habeIchVergessen commented on #56
thx for logs. it seems not to be [my fork](https://github.com/habeIchVergessen/HallMonitor/blob/framework/bin/HallMonitor%20%28Framework%20Test%29.apk) of the project. can you post a link of used apk file?
accept/reject/hangup calls works?

[2016-01-16 13:17] bradhawkins85 commented on #56
Here's the link
https://github.com/durka/HallMonitor/blob/0.4.1/bin/HallMonitor-debug.apk?raw=true

Haven't tried calls yet,  sorry, will let you know when I dodo.

Will give your fork a go tomorrow.

[2016-01-17 03:26] bradhawkins85 commented on #56
habeIchVergessen here is the log from your fork and a screenshot.
![screenshot_20160117-123629](https://cloud.githubusercontent.com/assets/15325110/12375730/4f5af38c-bd1d-11e5-8a3a-668f4346e53b.png)
[Log_2016-01-17_12-58-43.txt](https://github.com/durka/HallMonitor/files/93191/Log_2016-01-17_12-58-43.txt)

Haven't had a chance to test the calls yet but none of the shortcuts work in either build bu

[2016-01-17 08:04] pressh commented on #56
I can take a log on sm-n910c cm13 if you want.

It doesn't work too reliable, if you close the lid very gently the s view doesn't kick in. Your fork maybe slightly less reliable than durka's apk and I may have a crash in your fork overnight but I didn't take a log.

 As for the shortcuts, I need to do more testing but the issue is that high sensitivity for the screen (glove mode, not sure how it i

[2016-01-17 09:05] habeIchVergessen commented on #56
debug my fork:
- press seven times About ("debug enabled" messages appears)
- do some cover actionsi
- check the sd-card option
- press seven times About ("debug disabled" message)
- new file should be written to Download

changing touch sensivity requires root privileges. do you checked the option?

the screenshots looks terrible. seems to be a general problem. the layout uses only the visible ar

[2016-01-17 13:23] pressh commented on #56
Yes root enabled but seems it doesn't kick in tot handel the screen sensitiviteit. It just worked for a minuten or so after I reinstalled tour fork but stoppen now.

I attached a regular logcat, debugging output is saved to a nog existing location I don't have /storage/sdcard0

Anyway, dit soms fast closes of the lid at which hallmonitor kicks in and a few slow ones where it doesn't. After that I

[2016-01-17 13:45] habeIchVergessen commented on #56
try to enable the glove mode manually

S4
- on: echo clear_cover_mode,1 > /sys/class/sec/tsp/cmd && cat /sys/class/sec/tsp/cmd_result
- off: echo clear_cover_mode,0 > /sys/class/sec/tsp/cmd && cat /sys/class/sec/tsp/cmd_result

S4 mini
- on:
  echo module_on_master > /sys/class/sec/tsp/cmd && cat /sys/class/sec/tsp/cmd_result ; echo clear_cover_mode,3 > /sys/class/sec/tsp/cmd && cat /sys/class/sec

[2016-01-17 16:03] pressh commented on #56
The s4 commands seem to work on the note4 as well, although not 100% reliable. Somehow the camera also started to take pictures, albeit sideways (preview has correct orientation). Guess I'll need to take another logcat to find out why at is going on and why it sometimes works and sometimes causes a crash.

[2016-02-02 17:58] pdeboer1987 commented on #52
@habeIchVergessen I tried your fork.  My screen goes into the windowed view when closed appropriately, but the touch screen doesn't seem to work.  I'm using a Galaxy S5 CM12.1.

[2016-02-02 19:00] habeIchVergessen commented on #52
please post a debug output (see Nov 1, 2015 post).

[2016-02-02 22:28] pdeboer1987 commented on #52
My mistake, it does work.  thanks

[2016-02-09 17:56] B--B commented on #56
Seems that finally google provided a fix for this issue, please take a look here: https://github.com/AOSP-JF-MM/platform_frameworks_base/commit/39d533c5d8c4e16baed4f1d8b3a309622a5fb918

This is a better solution than force FLAG_TURN_SCREEN_ON when the device tries to go to sleep

Can be simply enabled with an overlay in the device tree (see here: https://github.com/AOSP-JF-MM/platform_device_samsu

[2016-06-16 09:41] #18 closed, assigned to nobody

[2016-07-13 15:53] pelo88 opened #57 "Lock screen time out not being respected"
I have my lock screen set to come on 10 minutes after the screen shuts off but when I close my lid with hall monitor and the sview disappears it locks right away forcing me to enter my pin when I open the lid. Also for whatever reason despite my trust location here at work the lock screen is still coming on while I'm here and close and open the lid. I use CM13 on my note 3. Love this tho. Just wis

[2016-07-13 15:53] pelo88 commented on #57
S4

[2016-07-20 11:14] pelo88 commented on #50
I second this request. Especially for using the camera with the cover closed, it's quite ridiculous. If it helps, the Note S-View covers have a square window with the height being the same as the current working width.

[2016-07-20 11:17] pelo88 commented on #57
Yes I can confirm smart lock no longer works, it never unlocks my device automatically since I installed this.

[2016-07-21 05:03] pelo88 commented on #57
It's worse than I thought. Even without closing the flip cover just having hall monitor installed none of my smart lock trusted things, Bluetooth or GPS locations, unlock my screen.

[2016-09-25 10:42] habeIchVergessen commented on #50
added functionality to arrange view size and position
- zoom: scale between 1 and 1.5 for width and height
- slide: change vertical position +/-50

![HallMonitor (Framework Test)](https://github.com/habeIchVergessen/HallMonitor/raw/framework/bin/HallMonitor%20%28Framework%20Test%29.apk)

the gestures doesn't not work very well. but in my opion this is acceptable, because we don't need it so often.

[2016-09-25 20:59] pelo88 commented on #50
So this is interesting. It works to scale a bit but without changing the aspect ratio there's always cut off on the sides and it still doesn't fill the note 3 s view cover which is square not rectangular. I appreciate the effort and am using this version for now, I uninstalled the other.

[2016-09-25 23:39] pelo88 commented on #50
Actually one issue is it's not reading my battery life. Says 100% now no matter what. Must've been what it was when I installed it or something

[2016-09-26 19:14] habeIchVergessen commented on #50
check the notifications enable option. had have trouble to enable it without reboot.
newer version with logcat output improvements is available.
aspect ratio is fix for now. i can't do seriously testing without adequate hardware.

[2016-09-28 04:53] pelo88 commented on #50
I'm sorry where is the new version?

[2016-09-28 06:43] habeIchVergessen commented on #50
same as above ![HallMonitor (Framework Test)](https://github.com/habeIchVergessen/HallMonitor/raw/framework/bin/HallMonitor%20%28Framework%20Test%29.apk)

[2016-09-28 12:13] pelo88 commented on #50
Sorry I did try that and again with the link you put in your last reply but it seems to be the same.. I cannot make it square, it remains a rectangle and doesn't fill the note 3 s view window vertically when made as big as possible and the sides get cut off. Also same problem with the notifications not working and the battery indicates 100% when it's not

[2016-09-28 12:15] pelo88 commented on #50
And I did reboot after enabling notifications and it didn't make a difference

[2016-09-28 13:19] habeIchVergessen commented on #50
for a reason i'm not overlooking by now, i was unable to enable notifications. all the time i changed it remains disabled. this strange behavior was solved by reboot.

battery: can you post a logcat output incl. some cover actions (open and close)?
aspect ratio: can you post a photo with closed cover and the resize option layout in action? maybe i'm makeing a special version for testing. i don't k

[2016-09-28 13:46] pelo88 commented on #50
Oic. Yes I had that problem where the notification toggle didn't stick when
I installed the text over the official but yes a reboot did fix that. It
isn't an issue if you uninstall and reinstall.

Here are the attached log files and I was able to screen capture some stuff
for you including how my battery isn't 100% despite HallMonitor saying so
lol. Even without me using an external camera to show

[2016-09-28 19:52] habeIchVergessen commented on #50
debug my fork:
- press seven times About ("debug enabled" messages appears)
- do some cover actions
- check the sd-card option
- press seven times About ("debug disabled" message)
- new file should be written to Download

the file contains informations like this:

hardware: samsung GT-I9506 (ks01lte)
build: 12.1-20150928-UNOFFICIAL-temasek-ks01lte
os: LMY48P test-keys (Dalvik)
kernel: 3.4.109-arte

[2016-09-28 22:46] pelo88 commented on #50
Damn. The debug isn't saving to download.. I'll keep trying.

On Sep 28, 2016 3:52 PM, "habeIchVergessen" notifications@github.com
wrote:

[2016-10-02 22:17] habeIchVergessen commented on #50
Do you use custom 1 as default layout?

[2016-10-02 22:22] pelo88 commented on #50
I tried it. I like the default better but they both behave the same in that
neither cover the whole sview window.

On Oct 2, 2016 6:17 PM, "habeIchVergessen" notifications@github.com wrote:

[2016-10-02 22:23] pelo88 commented on #50
The notifications work in the custom layout tho.

On Oct 2, 2016 6:22 PM, "Billy Votta" pelo88@gmail.com wrote:

[2016-10-02 22:26] habeIchVergessen commented on #50
battery update works for custom 1?

Am 03.10.2016 00:22 schrieb "pelo88" notifications@github.com:

[2016-10-02 22:52] pelo88 commented on #50
Seems stuck at 100% still

On Oct 2, 2016 6:26 PM, "habeIchVergessen" notifications@github.com wrote:

[2016-10-03 00:30] pelo88 commented on #50
Actually in that layout the battery does work but the number % doesn't show
so it wasn't that clear until I lost more battery.

On Oct 2, 2016 6:52 PM, "Billy Votta" pelo88@gmail.com wrote:

[2016-10-29 14:25] TinoDidriksen commented on #57
I can confirm this. Smart Lock and other lock screen settings are completely ignored when HallMonitor is installed (even using @habeIchVergessen latest Framework Test release).

[2017-01-05 16:33] bbinet opened #58 "Support CM14.1"
It does not work on CM14.1 (on a samsung galaxy S5).
Do you plan to support it in the near future?

[2017-01-08 13:48] habeIchVergessen commented on #58
filesystem permissions denies access to flip cover status file (easy to fix). more difficult is to handle the screen on actions  (wakeup, overlay telephonie app, etc.). it's rudimentary in CM13.x too.

[2017-01-09 08:29] bbinet commented on #58
Interesting, thanks @habeIchVergessen for the details. If you plan to support CM14.1 in the future, I'd be happy to help if you need someone to test/debug.